<div class="advice col-xs-8 col-xs-offset-1 col-lg-2 col-lg-offset-1">
<h1>
	Advice is awesome!
</h1>

	<%= link_to 'Launch', quotes_path, :class => 'btn btn-primary' %>
	
</div>


<div class="omg2 col-xs-8 col-xs-offset-1 col-lg-2 col-lg-offset-1">
omg
</div>

<div class="lol3 col-xs-8 col-xs-offset-1  col-lg-2 col-lg-offset-1">
lol
</div>