<div class="advice">

	<h1> The best life tips...</h1>
	<h2>
		"
		<%= @quote.saying %>
		"
	</h2>
		
	<p>
		<%= @quote.author %><br><br>	
		<%= link_to 'Update Quote', quotes_path, :class => 'btn btn-primary' %>
		<%= link_to 'Contribute Your Own', new_quote_path, :class => 'btn btn-primary' %>

	</p>
</div>